*.json
**/auth.json
auth.txt
!package-lock.json
!package.json
node_modules/
factory/*
D2LReady/*
D2LProcessing/*
D2LProcessed/*
D2LOriginal/*
TestFile 101.zip
zachSandbox/
courses.csv
reports/
factory/
ouList.js
